@import url('https://fonts.googleapis.com/css?family=Cinzel');

#global h1 {

    font-family: Cinzel;
    text-align: center;
}

#global h2 {

    font-family: Cinzel;
    text-align: center;
}

#yolo {
  border: 0px;
  background: none;
}

#global p {

    font-family: Cinzel;
    text-align: center;
}

#global img {
  width: 15%;
}

#global audio
{
  text-align: center;
}

#global {
  margin-bottom: 200px;
}

a.button{
  font-size: 25px;
  color:#555555;
  display: block;
  font-weight:bold;
  height:30px;
  line-height:29px;
  margin-bottom:14px;
  text-decoration:none;
  margin-left: auto;
  width:350px;
  margin-top: 20px;
}

a:hover.button{
  color:#0066CC;
}
