@import url('https://fonts.googleapis.com/css?family=Cinzel');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


.global
{
  font-family: 'Cinzel';
  margin-left: 150px;
  margin-bottom: 200px;
}


.global h2
{

  border-bottom: solid black 2px;
  margin-top: 35px;
  width: 15%;
  font-size: 24px;
}

.global p
{
  font-family: 'Lato';
  text-align: justify;
  margin-right: 250px;
}

.li li
{
  font-family: 'Lato';
  margin-right: 250px;
}

.DR
{
  width: 15%;
}
