.Connexion {

  margin-top: 125px;
  width: 100%;
  text-align: center;

}

.Connexion p
{
	width: 100%;
	font-size: 42px;
	margin-bottom: 3px;

}

.Connexion input
{
   width: 200px;
   height: 50px;
   text-align: center;

}

.svg 
{

text-align: center;

}
