@import url('https://fonts.googleapis.com/css?family=Cinzel');

body {
    overflow-y: hidden;
    margin-bottom: 200px;
}

#global {
  font-family: Cinzel;
  margin-right: 200px;
}

.AlbumOeuvre {
  font: Cinzel;
  width: 300px;
  height: 300px;
  float: left;
  margin: 5px 5px 5px 5px;
  text-decoration: none;
  color: #000000;
  background-color: orange;
  border: 5px solid black;
  text-align: center;
}

.AlbumOeuvre p {
  margin-left: 20px;
  margin-right: 20px;
}


.HeaderPage {
  float: left;
  height: 420px;
  margin-right: 150px;
}

.HeaderPage img {
  margin-left: 200px;
}

.nameMusicien {
  margin-left: 200px;
  border-bottom: solid black 1px;
  width: 250px;
}

.nameMusicien h2 {
}

.informationMusicien {
  float: left;
  height: auto;
  margin-right: 50px;
  margin-bottom: 50px;

}

.informationMusicien h2 {
  border-bottom: solid black 1px;
  width: 200px;
}

.Oeuvre {
  margin: 20px 200px 200px 200px;
  width: 99%;
}

.Oeuvre h2 {
  display: block;
  border-bottom: solid black 1px;
  width: 9%;
}

.img {
  position: inherit;
  width: 50%;

}

@media only screen and (max-width: 1308px){
  .informationMusicien{
    margin-top: 20px;
    float: inherit;
    margin-left: 200px;
  }

}
