@import url('https://fonts.googleapis.com/css?family=Cinzel');

.panier
{
  z-index: -1000;
  width: 60%;
  margin: auto;
  margin-bottom: 200px;
}

.Main
{
  z-index: -1000;
  margin-top: 80px;
  font-size: 15px;
}

.pBorder
{
  font-family: Cinzel;
  margin-top: 35px;
  border-bottom: solid black 2px;
  font-size: 24px;
}
