@import url('https://fonts.googleapis.com/css?family=Cinzel');

body {
  margin-bottom: 200px;
}

#global {
  width: 100%;
  height: auto;
}

#results {
  margin-left: 20%;
  width: 60%;
  margin-bottom: 200px;
  text-align: center;
}

.searchResult {
  display: inline-block;
  width: 300px;
  height: auto;
  text-align: center;
  margin: 10px 10px 10px 10px;
  border: 5px 5px 5px 5px;
  border-style: solid;
  border-color: black;
  background-color: lightgrey;
}

.resultText {
  text-decoration: none;
  color: #000000;
  float: left;
}
