@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html, body{
  margin: 0px;
  padding: 0px;
  font-family: 'Lato';
  font-weight: 700;
  overflow-x: hidden;
}


.inner{
  width: 80%;
  margin: auto;
}

.innerArticle{
  width: 60%;
  margin: auto;
  margin-bottom: 200px;
}

/* Css pour le header */

.menu {
  background: #FF5722;
  width: 100%;
  height: 66px;
  line-height: 66px;
  box-shadow: 0px 0.8px 0px #252424;
}

.m-left{
  float :left;
}

.m-right{
  float: right;
}

.logo{
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 33px;
  margin: 0px;
  padding: 0px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;

}

.m-link {
  text-decoration: none;
  color : #fff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0px;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
  padding-bottom: 3px;

}

.m-link:hover {

  border-color: #fff;
}

.m-right.is-open{
  transform: translateX(0);
}

.m-nav-toggle.is-open span.m-toggle-icon{
  background: transparent;
}

.m-nav-toggle.is-open span.m-toggle-icon:before{
  transform-origin: center;
  transform: rotate(-45deg);
  top: 0;

}

.m-nav-toggle.is-open span.m-toggle-icon::after{
  transform-origin: center;
  transform: rotate(45deg);
  top: 0;
}

.m-link i {
  margin-right: 4px;
}

.m-nav-toggle{
  width: 40px;
  height: 66px;
  display: none;
  align-items: center;
  float: right;
  cursor: pointer;

}

span.m-toggle-icon, span.m-toggle-icon:before, span.m-toggle-icon:after{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  position: relative;
  transition: all 0.3s ease-in-out;

}
span.m-toggle-icon:before{top: 12px;}
span.m-toggle-icon:after{top: -14px;}

@media only screen and (max-width: 1125px){
  .m-right{
        $requete = $requete."Where rownum <=10 ";
    position: absolute;
    top: 66px;
    left: 0px;
    width: 200px;
    height: 100%;
    background: #FF5722;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;

  }
  .m-link{
    display: block;
    text-align: center;
    padding: 0px;
    margin: 0px 20px;
    height: 55px;

  }
  .m-nav-toggle{
    display: flex;
  }
}

/* Fin du css pour le Header */

/* Css Index/Article */

.firstArticle {
  text-align: justify;
}

.articleIndex {
  border-bottom: 2px solid black;
  padding-bottom: 3px;
  width: 55%;
}

/* Fin Css Index/Article */

.footerClass {
  background:#191919;
  position:fixed;
  bottom:0;
  width:100%;
  padding-top:50px;
  height:50px;
}

#searchbar {
  z-index: -1000;
  padding: 30px 0 20px 0;
  margin-bottom: 50px;
  height: auto;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid black;
}

#searchText {
  z-index: -1000;
  position: relative;
  top: -10px;
  font-size: 25px;
  font-weight: bold;
  padding-right: 10px;
}

.formulaire {
  display: inline-block;
}

.formulaire .champ {
  width:200px;
  height:35px;
  float:left;
  font-size:13pt;
  line-height:25px;
}

.formulaire .bouton {
  position: relative;
  background-image: url(./../images/loupe.png);
  background-color: #FF5722;
  background-size: 41px 41px;
  background-repeat: no-repeat;
  width: 41px;
  height: 41px;
  box-shadow: none;
  border:0 none;
  cursor: pointer;
}
